<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }
    #customers tr:nth-child(even){background-color: #f2f2f2;} 
    #customers tr:hover {background-color: #ddd;}
    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    }

    </style>
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a class="active" href="/users/">Users List</a>
      </div>
    {% if detail %}
    <h1>Users List: </h1>
    <table id="customers">
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for user in detail %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>There are no detail yet!</h2>
    {% endif %}
</html>